<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binary_images</key>
	<array>
		<dict>
			<key>cpu_subtype</key>
			<integer>0</integer>
			<key>cpu_type</key>
			<integer>16777228</integer>
			<key>image_addr</key>
			<integer>4370956288</integer>
			<key>image_size</key>
			<integer>4456448</integer>
			<key>image_vmaddr</key>
			<integer>4294967296</integer>
			<key>major_version</key>
			<integer>0</integer>
			<key>minor_version</key>
			<integer>0</integer>
			<key>name</key>
			<string>/var/containers/Bundle/Application/F5180772-C2A3-4D9C-954C-55EC9CE8490F/MetricaSample.app/MetricaSample</string>
			<key>revision_version</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>253B5253-D30A-3932-B4E5-529170A49DB6</string>
		</dict>
		<dict>
			<key>cpu_subtype</key>
			<integer>0</integer>
			<key>cpu_type</key>
			<integer>16777228</integer>
			<key>image_addr</key>
			<integer>6469681152</integer>
			<key>image_size</key>
			<integer>368640</integer>
			<key>image_vmaddr</key>
			<integer>6442631168</integer>
			<key>major_version</key>
			<integer>400</integer>
			<key>minor_version</key>
			<integer>9</integer>
			<key>name</key>
			<string>/usr/lib/libc++.1.dylib</string>
			<key>revision_version</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>B5750788-B63B-3612-B8BB-FB2DA1E3DBCA</string>
		</dict>
		<dict>
			<key>cpu_subtype</key>
			<integer>0</integer>
			<key>cpu_type</key>
			<integer>16777228</integer>
			<key>image_addr</key>
			<integer>6759378944</integer>
			<key>image_size</key>
			<integer>4395008</integer>
			<key>image_vmaddr</key>
			<integer>6732328960</integer>
			<key>major_version</key>
			<integer>1</integer>
			<key>minor_version</key>
			<integer>0</integer>
			<key>name</key>
			<string>/System/Library/Frameworks/MediaPlayer.framework/MediaPlayer</string>
			<key>revision_version</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>F7EE1BCF-1076-3614-90C2-AA0F4F6B7BD4</string>
			<key>crash_info_message</key>
			<string>Crash Info Message</string>
			<key>crash_info_message2</key>
			<string>Crash Info Message 2</string>
		</dict>
	</array>
	<key>crash</key>
	<dict>
		<key>diagnosis</key>
		<string>Attempted to dereference null pointer.
Originated at or in a subcall of +[MMSCrashUtils dereferenceNullPointer]</string>
		<key>error</key>
		<dict>
			<key>reason</key>
			<string>Attempted to dereference null pointer.
Originated at or in a subcall of +[MMSCrashUtils dereferenceNullPointer]</string>
			<key>address</key>
			<integer>0</integer>
			<key>mach</key>
			<dict>
				<key>code</key>
				<integer>0</integer>
				<key>exception</key>
				<integer>1</integer>
				<key>exception_name</key>
				<string>EXC_BAD_ACCESS</string>
				<key>subcode</key>
				<integer>8</integer>
			</dict>
			<key>signal</key>
			<dict>
				<key>code</key>
				<integer>0</integer>
				<key>code_name</key>
				<string>BUS_NOOP</string>
				<key>name</key>
				<string>SIGBUS</string>
				<key>signal</key>
				<integer>10</integer>
			</dict>
			<key>nsexception</key>
			<dict>
				<key>userInfo</key>
				<string>Really bad exception.</string>
				<key>name</key>
				<string>NSReallyBadException</string>
			</dict>
			<key>cpp_exception</key>
			<dict>
				<key>name</key>
				<string>you_ve_mistaken_in_cpp_as_well_exception_type</string>
			</dict>
			<key>type</key>
			<string>mach</string>
		</dict>
		<key>threads</key>
		<array>
			<dict>
				<key>backtrace</key>
				<dict>
					<key>contents</key>
					<array>
						<dict>
							<key>instruction_addr</key>
							<integer>4371046600</integer>
							<key>line_of_code</key>
							<integer>2</integer>
							<key>object_addr</key>
							<integer>4370956288</integer>
							<key>object_name</key>
							<string>MetricaSample</string>
							<key>symbol_addr</key>
							<integer>4371046552</integer>
							<key>symbol_name</key>
							<string>+[MMSCrashUtils dereferenceNullPointer]</string>
						</dict>
						<dict>
							<key>instruction_addr</key>
							<integer>6475294060</integer>
							<key>object_addr</key>
							<integer>6475294056</integer>
							<key>object_name</key>
							<string>libdyld.dylib</string>
							<key>symbol_addr</key>
							<integer>6475294056</integer>
							<key>symbol_name</key>
							<string>&lt;redacted&gt;</string>
						</dict>
					</array>
					<key>skipped</key>
					<integer>0</integer>
				</dict>
				<key>crashed</key>
				<false/>
				<key>current_thread</key>
				<false/>
				<key>index</key>
				<integer>0</integer>
				<key>registers</key>
				<dict>
					<key>basic</key>
					<dict>
						<key>cpsr</key>
						<integer>1610612736</integer>
						<key>fp</key>
						<integer>6095923008</integer>
						<key>lr</key>
						<integer>4371125020</integer>
						<key>pc</key>
						<integer>4371046600</integer>
						<key>sp</key>
						<integer>6095922944</integer>
						<key>x0</key>
						<integer>1</integer>
						<key>x1</key>
						<integer>4374938533</integer>
						<key>x10</key>
						<integer>4376144920</integer>
						<key>x11</key>
						<integer>17350913</integer>
						<key>x12</key>
						<integer>17350656</integer>
						<key>x13</key>
						<integer>0</integer>
						<key>x14</key>
						<integer>17350913</integer>
						<key>x15</key>
						<integer>17351104</integer>
						<key>x16</key>
						<integer>6477696244</integer>
						<key>x17</key>
						<integer>4371046552</integer>
						<key>x18</key>
						<integer>0</integer>
						<key>x19</key>
						<integer>4437854208</integer>
						<key>x2</key>
						<integer>24</integer>
						<key>x20</key>
						<integer>4391580576</integer>
						<key>x21</key>
						<integer>2600</integer>
						<key>x22</key>
						<integer>4429375488</integer>
						<key>x23</key>
						<integer>-4611686018421096426</integer>
						<key>x24</key>
						<integer>-4611686018421096426</integer>
						<key>x25</key>
						<integer>0</integer>
						<key>x26</key>
						<integer>3</integer>
						<key>x27</key>
						<integer>1</integer>
						<key>x28</key>
						<integer>0</integer>
						<key>x29</key>
						<integer>6095923008</integer>
						<key>x3</key>
						<integer>0</integer>
						<key>x4</key>
						<integer>1</integer>
						<key>x5</key>
						<integer>1</integer>
						<key>x6</key>
						<integer>0</integer>
						<key>x7</key>
						<integer>192</integer>
						<key>x8</key>
						<integer>1</integer>
						<key>x9</key>
						<integer>0</integer>
					</dict>
					<key>exception</key>
					<dict>
						<key>esr</key>
						<integer>2449473606</integer>
						<key>exception</key>
						<integer>0</integer>
						<key>far</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>stack</key>
				<dict>
					<key>contents</key>
					<string>00000000000000000000000000000000F0C2D50401000000A543C4040100000018000000000000000000000000000000010000000000000001000000000000000000000000000000C000000000000000A815D504010000000000000000000000A543C40401000000F0C2D50401000000B8A8CB0401000000B8A8CB0401000000A033C20501000000B8A8CB0401000000B067586B0100000014708A04010000009067586B01000000548CA98101000000B8A8CB0401000000B8A8CB040100000003000000000000003022C1050100000016006000000000C0C02322D00100000016006000000000C00048840801000000</string>
					<key>dump_end</key>
					<integer>6095923104</integer>
					<key>dump_start</key>
					<integer>6095922864</integer>
					<key>grow_direction</key>
					<string>-</string>
					<key>overflow</key>
					<false/>
					<key>stack_pointer</key>
					<integer>6095922944</integer>
				</dict>
			</dict>
			<dict>
				<key>backtrace</key>
				<dict>
					<key>contents</key>
					<array>
						<dict>
							<key>instruction_addr</key>
							<integer>4371046600</integer>
							<key>line_of_code</key>
							<integer>2</integer>
							<key>object_addr</key>
							<integer>4370956288</integer>
							<key>object_name</key>
							<string>MetricaSample</string>
							<key>symbol_addr</key>
							<integer>4371046552</integer>
							<key>symbol_name</key>
							<string>+[MMSCrashUtils dereferenceNullPointer]</string>
						</dict>
						<dict>
							<key>instruction_addr</key>
							<integer>6475294060</integer>
							<key>object_addr</key>
							<integer>6475294056</integer>
							<key>object_name</key>
							<string>libdyld.dylib</string>
							<key>symbol_addr</key>
							<integer>6475294056</integer>
							<key>symbol_name</key>
							<string>&lt;redacted&gt;</string>
						</dict>
					</array>
					<key>skipped</key>
					<integer>0</integer>
				</dict>
				<key>crashed</key>
				<true/>
				<key>current_thread</key>
				<false/>
				<key>index</key>
				<integer>1</integer>
				<key>registers</key>
				<dict>
					<key>basic</key>
					<dict>
						<key>cpsr</key>
						<integer>1610612736</integer>
						<key>fp</key>
						<integer>6095923008</integer>
						<key>lr</key>
						<integer>4371125020</integer>
						<key>pc</key>
						<integer>4371046600</integer>
						<key>sp</key>
						<integer>6095922944</integer>
						<key>x0</key>
						<integer>1</integer>
						<key>x1</key>
						<integer>4374938533</integer>
						<key>x10</key>
						<integer>4376144920</integer>
						<key>x11</key>
						<integer>17350913</integer>
						<key>x12</key>
						<integer>17350656</integer>
						<key>x13</key>
						<integer>0</integer>
						<key>x14</key>
						<integer>17350913</integer>
						<key>x15</key>
						<integer>17351104</integer>
						<key>x16</key>
						<integer>6477696244</integer>
						<key>x17</key>
						<integer>4371046552</integer>
						<key>x18</key>
						<integer>0</integer>
						<key>x19</key>
						<integer>4437854208</integer>
						<key>x2</key>
						<integer>24</integer>
						<key>x20</key>
						<integer>4391580576</integer>
						<key>x21</key>
						<integer>2600</integer>
						<key>x22</key>
						<integer>4429375488</integer>
						<key>x23</key>
						<integer>-4611686018421096426</integer>
						<key>x24</key>
						<integer>-4611686018421096426</integer>
						<key>x25</key>
						<integer>0</integer>
						<key>x26</key>
						<integer>3</integer>
						<key>x27</key>
						<integer>1</integer>
						<key>x28</key>
						<integer>0</integer>
						<key>x29</key>
						<integer>6095923008</integer>
						<key>x3</key>
						<integer>0</integer>
						<key>x4</key>
						<integer>1</integer>
						<key>x5</key>
						<integer>1</integer>
						<key>x6</key>
						<integer>0</integer>
						<key>x7</key>
						<integer>192</integer>
						<key>x8</key>
						<integer>1</integer>
						<key>x9</key>
						<integer>0</integer>
					</dict>
					<key>exception</key>
					<dict>
						<key>esr</key>
						<integer>2449473606</integer>
						<key>exception</key>
						<integer>0</integer>
						<key>far</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>stack</key>
				<dict>
					<key>contents</key>
					<string>00000000000000000000000000000000F0C2D50401000000A543C4040100000018000000000000000000000000000000010000000000000001000000000000000000000000000000C000000000000000A815D504010000000000000000000000A543C40401000000F0C2D50401000000B8A8CB0401000000B8A8CB0401000000A033C20501000000B8A8CB0401000000B067586B0100000014708A04010000009067586B01000000548CA98101000000B8A8CB0401000000B8A8CB040100000003000000000000003022C1050100000016006000000000C0C02322D00100000016006000000000C00048840801000000</string>
					<key>dump_end</key>
					<integer>6095923104</integer>
					<key>dump_start</key>
					<integer>6095922864</integer>
					<key>grow_direction</key>
					<string>-</string>
					<key>overflow</key>
					<false/>
					<key>stack_pointer</key>
					<integer>6095922944</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>debug</key>
	<dict/>
	<key>process</key>
	<dict/>
	<key>report</key>
	<dict>
		<key>id</key>
		<string>A1DD2607-281F-4064-9A23-26CE2C5D4E08</string>
		<key>process_name</key>
		<string>MetricaSample</string>
		<key>timestamp</key>
		<string>2019-03-11T12:56:51Z</string>
		<key>type</key>
		<string>standard</string>
		<key>version</key>
		<string>3.2.0</string>
	</dict>
	<key>system</key>
	<dict>
		<key>CFBundleExecutable</key>
		<string>MetricaSample</string>
		<key>CFBundleExecutablePath</key>
		<string>/var/containers/Bundle/Application/F5180772-C2A3-4D9C-954C-55EC9CE8490F/MetricaSample.app/MetricaSample</string>
		<key>CFBundleIdentifier</key>
		<string>io.appmetrica.mobile.MetricaSample</string>
		<key>CFBundleName</key>
		<string>MetricaSample</string>
		<key>CFBundleShortVersionString</key>
		<string>370</string>
		<key>CFBundleVersion</key>
		<string>0</string>
		<key>app_start_time</key>
		<string>2019-03-11T12:56:49Z</string>
		<key>app_uuid</key>
		<string>253B5253-D30A-3932-B4E5-529170A49DB6</string>
		<key>application_stats</key>
		<dict>
			<key>active_time_since_last_crash</key>
			<real>301.226</real>
			<key>active_time_since_launch</key>
			<integer>0</integer>
			<key>application_active</key>
			<true/>
			<key>application_in_foreground</key>
			<true/>
			<key>background_time_since_last_crash</key>
			<real>1196.11</real>
			<key>background_time_since_launch</key>
			<integer>0</integer>
			<key>launches_since_last_crash</key>
			<integer>3</integer>
			<key>sessions_since_last_crash</key>
			<integer>4</integer>
			<key>sessions_since_launch</key>
			<integer>1</integer>
		</dict>
		<key>binary_cpu_subtype</key>
		<integer>0</integer>
		<key>binary_cpu_type</key>
		<integer>16777228</integer>
		<key>boot_time</key>
		<string>2019-03-04T15:43:58Z</string>
		<key>build_type</key>
		<string>debug</string>
		<key>cpu_arch</key>
		<string>arm64</string>
		<key>cpu_subtype</key>
		<integer>1</integer>
		<key>cpu_type</key>
		<integer>16777228</integer>
		<key>device_app_hash</key>
		<string>b4df8a1f17e3d7262193185b967eecc57c22b674</string>
		<key>jailbroken</key>
		<false/>
		<key>kernel_version</key>
		<string>Darwin Kernel Version 17.0.0: Fri Sep  1 14:59:17 PDT 2017; root:xnu-4570.2.5~167/RELEASE_ARM64_T8015</string>
		<key>machine</key>
		<string>iPhone10,4</string>
		<key>memory</key>
		<dict>
			<key>free</key>
			<integer>82477056</integer>
			<key>size</key>
			<integer>2086666240</integer>
			<key>usable</key>
			<integer>1900445696</integer>
		</dict>
		<key>model</key>
		<string>D201AP</string>
		<key>os_version</key>
		<string>15A421</string>
		<key>parent_process_id</key>
		<integer>1</integer>
		<key>process_id</key>
		<integer>1534</integer>
		<key>process_name</key>
		<string>MetricaSample</string>
		<key>storage</key>
		<integer>63989469184</integer>
		<key>system_name</key>
		<string>iOS</string>
		<key>system_version</key>
		<string>11.0.2</string>
		<key>time_zone</key>
		<string>GMT+3</string>
	</dict>
	<key>user</key>
	<dict>
		<key>io.appmetrica.mobile.crash.appBuildUID</key>
		<string>1552305974</string>
		<key>io.appmetrica.mobile.crash.appEnvironment</key>
		<dict>
			<key>test</key>
			<string>test</string>
		</dict>
		<key>io.appmetrica.mobile.crash.appState</key>
		<dict>
			<key>analytics_sdk_build_number</key>
			<string>0</string>
			<key>analytics_sdk_build_type</key>
			<string>static</string>
			<key>analytics_sdk_version_name</key>
			<string>3.7.0</string>
			<key>app_build_number</key>
			<string>999</string>
			<key>app_debuggable</key>
			<string>1</string>
			<key>app_version_name</key>
			<string>370</string>
			<key>deviceid</key>
			<string>670EAAC3-51F0-4F21-B302-5F556AB4E588</string>
			<key>ifa</key>
			<string>00000000-0000-0000-0000-000000000000</string>
			<key>ifv</key>
			<string>5B9ED901-FDAB-42A4-96F3-68ABFB0F5530</string>
			<key>is_rooted</key>
			<string>0</string>
			<key>limit_ad_tracking</key>
			<string>1</string>
			<key>locale</key>
			<string>ru_BY</string>
			<key>os_api_level</key>
			<string>11</string>
			<key>os_version</key>
			<string>11.0.2</string>
			<key>uuid</key>
			<string>8be25b5c0ec54f4d9182efe99a6167d3</string>
		</dict>
		<key>io.appmetrica.mobile.crash.environment</key>
		<dict>
			<key>test</key>
			<string>test</string>
		</dict>
	</dict>
</dict>
</plist>
