<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crashType</key>
	<string>EXC_CRASH (SIGABRT)</string>
	<key>queueNames</key>
	<array>
		<string>com.apple.main-thread</string>
		<string>com.apple.CoreLocation.ConnectionClient.0x14690bb0.events</string>
		<string>com.apple.root.default-priority</string>
		<string>com.apple.libdispatch-manager</string>
	</array>
	<key>timestamp</key>
	<date>2014-07-17T09:19:14Z</date>
</dict>
</plist>